.btn {
    box-shadow: 4px 4px 20px #C2CCCA, -8px -8px 20px #FFFFFF;
    outline: none;
    cursor: pointer;

    &-promo {
        margin-top: 21px;
        width: 100%;
        height: 59px;
        border-radius: 40px;
        border: none;
        background-color: $dirty-grey;
        font-size: 14px;
        font-weight: bold;
        color: white;
        font-family: 'Raleway', sans-serif;
        transition: 0.5s all;
    }

    &-order {
        position: absolute;
        border: none;
        bottom: 0;
        right: 0;
        box-shadow: none;

        .plus {
            width: 20px;
            height: 20px;
            z-index: 2;
        }
    }
    &-submit {
        margin-top: 15px;
        height: 62px;
        border-radius: 40px;
        background-color: $dark-grey;
        color: white;
        font-weight: 700;
        font-size: 14px;
        border: none;
        outline: none;
    }

    &:hover {
        background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
    }
}