.header {
    background-color: $grey;
    min-height: 416px;

    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
        &__hamburger {
            position: fixed;
            z-index: 10;

            span {
                display: flex;
                height: 2px;
                width: 25px;
                background-color: $dark-grey;
                margin-bottom: 4px;
                transition: 0.5s all;
            }

            &--active {
                span {

                    &:nth-child(1) {
                        transform: translateY(5px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: translateY(-1px) rotate(-45deg);
                    }
                }
            }
        }

        &__nav {
            font-family: 'Cormorant Infant', serif;
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 8px;
            left: -100%;
            width: 96%;
            height: 100vh;
            padding: 0 15px;
            background-color: white;
            transition: 0.6s all;
            box-shadow: 4px 4px 20px #E3E3E3;
            border-radius: 0px 10px 10px 0px;
            z-index: 9;

            &--active {
                left: 0;
            }

            &-phone {
                padding-left: 40px;
                font-family: 'Raleway', sans-serif;
                font-weight: 500;
                font-size: 22px;
                text-transform: uppercase;
                color: $dark-grey;
                font-feature-settings: 'tnum'on, 'lnum'on;
            }
        }

        &__list {
            padding: 99px 0 0 40px;

            &-item {
                font-family: 'Cormorant Infant', serif;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                padding: 10px 0;

                &:last-child {
                    margin-bottom: 161px;
                }
            }

            &-link {
                font-family: 'Cormorant Infant';
                color: $dark-grey;
            }
        }

        &__logo {
            margin-left: 40%;
            z-index: 10;

            &-img {
                width: 56px;
                height: 26px;
                color: $dark-grey;
            }
        }

        &__link {
            display: flex;
            align-items: center;

            &-phone {
                display: flex;
                justify-content: center;
                padding: 11px 12px;
                background: linear-gradient(92.42deg, #B0D3CE -1.96%, #FFEDCE 92.83%);
                box-shadow: -4px -4px 20px #FFFFFF, 4px 4px 20px #CFD7D3;
                border-radius: 40px;
                margin-right: 13px;

                .phone-icon {
                    width: 13px;
                    height: 11px;
                    fill: #195557;
                }
            }

            &-cart {
                .cart-icon {
                    width: 25px;
                    height: 22px;
                }

                .cart-count {
                    position: absolute;
                    top: -4px;
                    right: -4px;
                    color: black;
                    background: $beidge;
                    width: 13px;
                    height: 13px;
                    font-family: "Raleway", sans-serif;
                    font-weight: 700;
                    font-size: 8px;
                    line-height: 13px;
                    text-transform: uppercase;
                    border-radius: 50%;
                    text-align: center;
                }
            }
        }
    }

    &-promo {
        margin-top: 32px;

        &__title {
            .name-icon {
                width: 180px;
                height: 44px;
                fill: $dark-grey;
            }

            &-transperent {
                font-family: "Cormorant Infant", serif;
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                color: $dirty-grey;
            }
        }

        &__subtitle {
            margin-top: 7px;
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            color: $dirty-grey;
            text-align: center;
        }
    }
}