@media (min-width: 375px) {
  .advantages {
    &-item {
      &:nth-child(3) {
        padding-left: 30px;
      }

      &__title {
        font-size: 16px;
      }

      &__description {
        font-size: 11px;
        min-width: 141px;
      }
    }
  }

}

@media (min-width: 425px) {
  .advantages {
    &-item {
      z-index: 4;

      &:nth-child(3) {
        padding-left: 30px;
      }

      &__title {
        font-size: 18px;
      }

      &__description {
        font-size: 13px;
        min-width: 167px;
      }
    }
  }
}

@media (min-width: 768px) {
  .advantages {
    background-image: url('../img/hedgehog-1.png'), url('../img/hedgehog-4.png');
    background-position: right top, left top 40%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%;
    z-index: 180;
    &:after {
      content: '';
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      background: white;
      height: 60px;
      border-radius: 50%;
      -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
      -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
      box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
      transform: rotate(360deg);
    }

    &-items {
      display: flex;
      flex-wrap: no-wrap;
      flex-direction: row;
      justify-content: space-around;
    }

    &-item {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: auto;
      fill: $dirty-grey;

      &:nth-child(1) {
        flex-basis: none;
        top: -65px;
      }

      &:nth-child(2) {
        top: -80px;
      }

      &:nth-child(3) {
        top: -65px;
      }


      &__title {
        font-size: 16px;
        line-height: 17px;
        text-transform: uppercase;
        text-align: center;
      }

      &__description {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1024px) {
  .advantages {
    &:after {
      content: '';
      position: absolute;
      top: -110px;
      left: 0;
      right: 0;
      background: white;
      height: 230px;
      border-radius: 50%;
    }
  }
}