@media (min-width: 425px) {
    .btn {
        &-promo {
            display: flex;
            justify-content: center;
            width: 80%;
            margin-top: 41px;
            font-size: 16px;
            line-height: 60px;
        }

        &-order {
            position: absolute;
            border: none;
            bottom: 0;
            right: 0;
            box-shadow: none;

            .plus {
                width: 20px;
                height: 20px;
                z-index: 2;
            }
        }

        &-submit {
        }

        &:hover {
            background: linear-gradient(90.14deg, #B0D3CE -2.41%, #FFEDCE 99.79%);
        }
    }
}

@media (min-width: 768px) {
    .btn {
        &-promo {
            width: 328px;
        }
    }
}

@media (min-width: 1024px) {
    .btn {
        &-submit {
            width: 369px;
            height: 69px;
            margin: 30px auto;
            z-index: 5;
        }
    }
}