@media (min-width: 375px) {
    .header {
        &-promo {
            &__title {
                .name-icon {
                    width: 180px;
                    fill: $dark-grey;
                }
    
                &-transperent {
                    font-family: "Cormorant Infant", serif;
                    font-size: 26px;
                }
            }
            &__subtitle {
                    font-size: 14px;
                }
            
        }
    }
}