@media (min-width: 375px) {
    .header {
        &-menu {
            &__logo {
                margin-left: 40%;

                &-img {
                    width: 66px;
                    height: 36px;
                }
            }

            &__list {

                &-item {
                    font-size: 20px;
                }
            }

            &__nav {
                &-phone {
                    font-size: 24px;
                }
            }
        }

        &-promo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .name-icon {
                    width: 280px;
                    fill: $dark-grey;
                }

                &-transperent {
                    font-size: 26px;
                }
            }

            &__subtitle {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 425px) {
    .header {
        background-image: url('../img/shadow-2.svg'), url('../img/shadow.svg');
        background-position: 0, 0, 0, 0;
        background-repeat: no-repeat, no-repeat;
        background-color: $grey;
        min-height: 566px;

        &-menu {
            &__logo {
                margin-left: 42%;

                &-img {
                    width: 76px;
                    height: 46px;
                }
            }

            &__list {
                &-item {
                    font-size: 16px;
                }
            }

            &__nav {
                &-phone {
                    font-size: 26px;
                }
            }
        }

        &-promo {
            &__title {
                .name-icon {
                    width: 320px;
                    fill: $dark-grey;
                    margin-bottom: 15px;
                }

                &-transperent {
                    font-size: 28px;
                }
            }

            &__subtitle {
                font-size: 15px;
                margin-top: 30px;
            }
        }
    }
}


@media (min-width: 768px) {
    .header {
        &:after {
            display: none;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;
            background: white;
            height: 60px;
            border-radius: 50%;
            -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            transform: rotate(360deg);
        }

        &-menu {
            &__logo {
                margin-left: 45%;
            }

            &__nav {
                width: 60%;
            }
        }
    }
}


@media (min-width: 1024px) {
    .header {
        height: 768px;
        background-image: url('../img/shadow-2.svg'), url('../img/shadow.svg');
        background-size: cover;
        background-repeat: no-repeat, no-repeat;
        background-color: $grey;
        z-index: 2;

        &:before {
            content: '';
            position: absolute;
            bottom: -110px;
            left: 0;
            right: 0;
            background: white;
            height: 200px;
            border-radius: 50%;
            -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            -moz-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2) inset;
            transform: rotate(360deg);
        }

        &-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex: 3;
            order: 1;

            &__list {
                height: 46px;
                width: 51%;
                justify-content: center;
                display: flex;
                flex-direction: row;
                padding: 0;
                display: flex;
                order: 1;
                flex: 2;  

                .submenu {
                    &-list {
                        margin-top: 16px;
                        display: flex;
                        flex-direction: column;
                        background-color: white;
                        padding: 0px 48px 19px 24px;
                        font-size: 16px;
                        background: #FFFEFE;
                        box-shadow: 4px 4px 20px #C2CCCA;
                        border-radius: 8px;
                        line-height: 19px;
                        z-index: 9;
                        &__item {
                            padding-top: 19px ;
                            &-link {
                                font-family: "Cormorant Infant", serif;
                                color: $dark-grey;
                                &:after {
                                    display: block;
                                    position: absolute;
                                    left: 0;
                                    /*изменить на right:0;, чтобы изменить направление подчёркивания */
                                    width: 0;
                                    /*задаём длинну линии до наведения курсора*/
                                    height: 2px;
                                    /*задаём ширину линии*/
                                    background-color: $dark-grey;
                                    /*задаём цвет линии*/
                                    content: "";
                                    transition: width 0.3s ease-out;
                                    /*задаём время анимации*/
                                  }
                              
                                  &:hover:after,
                                  &:focus:after {
                                    width: 100%;
                                    /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
                                  }
                            }
                        }
                    }
                }

                &-link {
                    padding-right: 40px;
                }
            }

            &__link {
                padding: 0;
                display: flex;
                order: 6;
            }


            &__logo {
                margin-left: 0;
            }

            &__hamburger {
                display: none;
            }

            &__nav {
                width: 40%;
                display: flex;
                display: contents;
                position: relative;
                flex-direction: row;
                justify-content: center;
                top: 0;
                left: 0;
                height: 50px;
                padding: 0;
                background-color: #c4c4c4;
                transition: 0.6s all;
                box-shadow: none;
                border-radius: none;
                z-index: 9;


                &-phone {
                    display: none;
                }
            }
        }

        &-promo {
            &__title {
                margin-top: 100px;

                &-transperent {
                    font-size: 28px;
                }
            }

            &__subtitle {
                font-size: 15px;
                margin-top: 30px;
            }
        }
    }


    .phone {
        &-text {
            color: $dark-grey;
            font-size: 18px;
            margin-right: 40px;
            font-feature-settings: 'tnum'on, 'lnum'on;
        }
    }

    .header-menu__nav .submenu-list {
        -ms-transform: scaleY(0);
        transform: scaleY(0);
      -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
    }

    .header-menu__nav .header-menu__list .header-menu__list-item:hover .submenu-list  {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
        transition: 0.6s all;
    }
}

@media (min-width: 1180px) {

    .header {
        .container {
            margin: 0 auto;
            max-width: 1920px;
            padding: 0 60px;
        }

        margin: 0 auto;
        max-width: 1920px;
        padding: 0 60px;
        background-image: url('../img/shadow-2.svg'),
        url('../img/shadow.svg');
        background-position:top,
        left,
        bottom,
        right;
        background-repeat: no-repeat,
        no-repeat;
        z-index: 2;
    }
}