@media (min-width: 375px) {
    .reminder {
        &-info {
            .hedgehog {
                width: 38px;
                height: 34px;
            }
        }
    
        &-title {
            font-size: 26px;
        }
    
        &-count {
            font-size: 26px;
        }
    
        &-descr {
            font-size: 16px;
        }
    }
}

@media (min-width: 375px) {
    .reminder {
        &-info {
            .hedgehog {
                width: 48px;
                height: 44px;
            }
        }
    
        &-title {
            font-size: 30px;
        }
    
        &-count {
            font-size: 30px;
        }
    
        &-descr {
            font-size: 20px;
        }
    }
}