@media (min-width: 375px) {
    .request {
        background-color: $grey;
        &-title {
            padding-top: 41px;
            font-size: 26px;
        }
        &-form {
            &__contact-details {
                input {
                    font-size: 12px;
                }
            }
        }

    
    }
}

@media (min-width: 425px) {
    .request {
        &-title {
            font-size: 34px;
        }
        &-form {
            &__contact-details {
                input {
                    font-size: 18px;
                }
            }
        }
    
    }
}

@media (min-width: 768px) {
    .request {
        &-form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &__for {
                display: flex;
                flex-direction: column;
            }
            &__contact-details {
                input {
                    font-size: 18px;
                }
            }
        }
    
    }
}