@media (min-width: 375px) {
    .request {
        background-color: $grey;
        &-title {
            padding-top: 41px;
            font-size: 26px;
        }
        &-form {
            &__for {
                &-select {
                    padding: 20px 26px; 
                   font-size: 16px;
                    line-height: 80px;
                }
            }
            &__contact-details {
                input {
                    font-size: 16px;
                }
            }
        }
    
    }
}

@media (min-width: 425px) {
    .request {
        &-title {
            font-size: 34px;
        }
        &-form {
            &__for {
                &-select {
                    padding: 30px 30px; 
                    font-size: 20px;
                    line-height: 100px;
                }
            }
            &__contact-details {
                input {
                    font-size: 18px;
                }
            }
        }
    
    }
}